<?xml version="1.0" encoding="UTF-8" ?>
<!--
scan:
	当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
scanPeriod:
	设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
debug:
	当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。
-->
<configuration scan="false" scanPeriod="1800 seconds" debug="false">
	<property name="log.path" value="logs" />
	<property name="log.name" value="logback" />
    <property name="log.maxHistory" value="10"/>
    <property name="log.maxFileSize" value="20MB"/>
    <property name="log.pattern.console"
              value="%yellow(%d{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %blue(%thread) %blue(%file:%line) %cyan(%logger{10}) - %green(%X{myMdc}) %msg%n"/>
    <property name="log.pattern.file"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level %thread %file:%line %logger{10} - %X{myMdc} %msg%n"/>


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern.console}</pattern>
		</encoder>
	</appender>

	<appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/%d{yyyy-MM-dd, aux}/${log.name}-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
	        <!-- each file should be at most 20MB, keep 10000 days worth of history, but at most 200GB -->
	        <maxFileSize>${log.maxFileSize}</maxFileSize>
	        <maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern.file}</pattern>
		</encoder>
	</appender>


	<root level="WARN">
		<appender-ref ref="console" />
<!--		<appender-ref ref="logFile" />-->
	</root>

	<logger name="com.ozz" level="DEBUG"></logger>
</configuration>
