<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- 
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
	<script type="text/javascript" th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
	<script th:inline="javascript">
	  var context = [[@{/}]];
	</script>
	 -->
</head>
<body>

  <p th:text="'Hello, ' + ${name} + '! There are ' + ${#lists.size(books)} +' books.'" />
  <br/>

	<table border="1">
		<thead>
			<tr>
			  <th>index</th>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${books.empty}">
				<td colspan="3">No Books Available</td>
			</tr>
			<tr th:each="book,status : ${books}">
			  <td th:text="${status.index+1}"></td>
				<td th:text="${book.title!=null and book.title!='' ? book.title : 'unknow'}"></td>
				<td><span th:if="${book.author!=null and book.author!=''}" th:text="${book.author}"/></td>
			</tr>
		</tbody>
	</table>

</body>
</html>