<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- 
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
	<script type="text/javascript" th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
	<script th:inline="javascript">     
	  var context = [[@{/}]];      
	</script>
	 -->
</head>
<body>

  <p th:text="'Hello, ' + ${name} + '! There are ' + ${#lists.size(books)} +' books.'" />
  <br/>

	<table border="1">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${books.empty}">
				<td colspan="2">No Books Available</td>
			</tr>
			<tr th:each="book : ${books}">
				<td><span th:text="${book.title}"> Title </span></td>
				<td><span th:text="${book.author}"> Author </span></td>
			</tr>
		</tbody>
	</table>

</body>
</html>